<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
{%- if section.settings.layout == 'default' -%}
{%- assign layout = settings.baseLayout -%}
{%- else -%}
{%- assign layout = section.settings.layout -%}
{%- endif -%}

{% assign root_url = routes.root_url %}
{% assign search_url = root_url | append: 'search' %}
{% if root_url != '/' %}
    {% assign search_url = root_url | append: '/search' %}
{% endif %}

<style>
    {% render 'header__common-css', section: section, layout: layout %}

    .page__header {
        min-height: max(var(--height), 4em);
    }

    @media screen and (min-width: 768px){
        .header__element--width {
            width: 100%;
            max-width: var(--logoWidth);
        }

        .main__navigation > .nav__link__holder > .nav__link {
            align-items: center;
            min-height: max(var(--height), 4em);
        }
    }
</style>

<!-- <section class="header-top">
  <div class="page__header--width">
    <div class="header-top-blank"></div>
  <ul>
    <li><a href="#"><span><svg height="16" width="16" viewBox="0 0 18 24" xmlns="http://www.w3.org/2000/svg" class="icon__uAbHS1" focusable="false" role="img" aria-labelledby="icon_:r13:" aria-hidden="false"><title id="icon_:r13:">Store Locator</title><path d="M9 20.88a.73.73 0 0 1-.72-.72c0-1.306-1.594-3.149-2.765-4.502l-.355-.452c-1.555-1.824-3.485-4.09-3.485-7.45A7.133 7.133 0 0 1 9 .903a7.133 7.133 0 0 1 7.363 6.855c0 3.36-1.92 5.625-3.485 7.45l-.393.45c-1.171 1.354-2.765 3.197-2.765 4.503a.73.73 0 0 1-.72.72ZM9 2.342a5.693 5.693 0 0 0-5.923 5.415c0 2.803 1.593 4.723 3.139 6.509l.394.45A21.398 21.398 0 0 1 9 17.867a21.398 21.398 0 0 1 2.39-3.15l.394-.45c1.546-1.786 3.14-3.706 3.14-6.51A5.693 5.693 0 0 0 9 2.343Zm0 8.938a3.12 3.12 0 1 1 3.12-3.12A3.13 3.13 0 0 1 9 11.28Zm0-4.8a1.68 1.68 0 1 0 1.68 1.68A1.69 1.69 0 0 0 9 6.48Zm8.4 13.68c0-1.325-1.411-2.438-3.84-3.062a.96.96 0 0 0-1.19.758l-.077.442c2.371.432 3.657 1.286 3.657 1.862 0 .883-2.707 2.16-6.96 2.16-4.252 0-6.95-1.277-6.95-2.16 0-.576 1.286-1.43 3.658-1.862l-.077-.442a.96.96 0 0 0-1.19-.758C2.01 17.722.59 18.835.59 20.16c0 2.362 4.223 3.6 8.4 3.6 4.175 0 8.409-1.238 8.409-3.6Z" fill="currentColor" fill-rule="evenodd"></path></svg></span>Store Locator</a></li>
  <li><a href="#">
    <span><svg height="16" width="16" viewBox="0 0 24 21" xmlns="http://www.w3.org/2000/svg" class="iconComponents_icon__2vPA3" focusable="false" role="img" aria-labelledby="icon_:r7:" aria-hidden="false"><title id="icon_:r7:">wish list icon</title><path d="M12 20.75a.72.72 0 0 1-.42-.13c-.32-.21-7.79-5.27-10.24-9.76C-.12 8.18-.45 4.4 2.09 2a6.48 6.48 0 0 1 8.82 0L12 3l1.08-1a6.48 6.48 0 0 1 8.82 0c2.54 2.41 2.21 6.19.75 8.87-2.45 4.49-9.9 9.55-10.22 9.76a.72.72 0 0 1-.43.12zm-5.5-19a4.89 4.89 0 0 0-3.37 1.32c-2 1.87-1.66 4.9-.47 7.07 2 3.59 7.73 7.82 9.34 9 1.6-1.14 7.36-5.36 9.32-8.95 1.28-2.34 1.54-5.68-1-7.49a5.07 5.07 0 0 0-6.32.52l-.88.84 1.45 1.4-.35.36a1 1 0 0 1-1.41 0L9.87 3.07A4.89 4.89 0 0 0 6.5 1.75z" fill="currentColor" fill-rule="evenodd"></path></svg></span>
  Wish List</a>
  </li>
    <li>
      <a href="#">
        <span><svg height="16" width="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="iconComponents_icon__2vPA3" focusable="false" role="img" aria-labelledby="icon_:r8:" aria-hidden="false"><title id="icon_:r8:">gift cards icon</title><g fill="currentColor" fill-rule="evenodd"><path d="M14.5 2.75a.5.5 0 0 1 .5.5v9.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9.5a.5.5 0 0 1 .5-.5h13m0-1h-13A1.5 1.5 0 0 0 0 3.25v9.5a1.5 1.5 0 0 0 1.5 1.5h13a1.5 1.5 0 0 0 1.5-1.5v-9.5a1.5 1.5 0 0 0-1.5-1.5Z"></path><path d="M0 8.36h16v1H0z"></path><path d="M7.49 2h1v12h-1z"></path><path d="M7.32 8.79h-.08c-.5-.08-3-.54-3.72-1.28a2.22 2.22 0 0 1 0-3.08 2.18 2.18 0 0 1 3.05 0c.71.73 1.16 3.28 1.24 3.79a.46.46 0 0 1-.14.43.47.47 0 0 1-.35.14ZM5 4.77a1.08 1.08 0 0 0-.8.35 1.2 1.2 0 0 0 0 1.68 7 7 0 0 0 2.45.85 7.23 7.23 0 0 0-.84-2.53A1.1 1.1 0 0 0 5 4.77Zm3.66 4.02a.47.47 0 0 1-.35-.15.46.46 0 0 1-.14-.43c.08-.51.53-3.06 1.25-3.79a2.17 2.17 0 0 1 3 0 2.22 2.22 0 0 1 0 3.08c-.72.74-3.22 1.2-3.71 1.28Zm2.28-4a1.1 1.1 0 0 0-.81.35 7.44 7.44 0 0 0-.84 2.54 7.12 7.12 0 0 0 2.46-.86 1.21 1.21 0 0 0 0-1.68 1.11 1.11 0 0 0-.81-.37Z"></path><path d="m8.25 9-2.74 2.8-.36.36-.23-.24a.68.68 0 0 1 0-1l2.62-2.68a.5.5 0 0 1 .71 0 .54.54 0 0 1 0 .76Z"></path><path d="m7.73 9 2.74 2.8.36.36.23-.24a.7.7 0 0 0 0-1L8.44 8.24a.5.5 0 0 0-.71 0 .54.54 0 0 0 0 .76Z"></path></g></svg></span>
      Gift Cards
      </a>
    </li>
    <li>
      <a href="#">
        <span><svg height="16" width="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="iconComponents_icon__2vPA3" focusable="false" role="img" aria-labelledby="icon_:r6f:" aria-hidden="false"><title id="icon_:r6f:">help center icon</title><path d="M0 12C0 5.373 5.373 0 12 0s12 5.373 12 12-5.373 12-12 12S0 18.627 0 12Zm22 0c0-5.514-4.486-10-10-10S2 6.486 2 12s4.486 10 10 10 10-4.486 10-10Zm-8.75 5a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12.093 6.047c1.036 0 1.943.339 2.55.955.57.578.866 1.373.855 2.297-.017 1.384-.86 2.292-1.536 3.022-.905.975-.948 1.514-.935 2.178h-2.005c-.006-1.475.02-2.125 1.432-3.468.572-.544 1.024-.974.962-1.821-.057-.805-.73-1.226-1.364-1.226-.71 0-1.538.527-1.538 2.013H8.503c0-2.4 1.41-3.95 3.59-3.95Z" fill="currentColor" fill-rule="evenodd"></path></svg></span>
      Get Help
      </a>
    </li>
    <li>
      <a href="#">
        <span><svg height="16" width="16" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" xml:space="preserve" class="iconComponents_icon__2vPA3" focusable="false" role="img" aria-labelledby="icon_:r9:" aria-hidden="false"><title id="icon_:r9:">region selector icon</title><path d="M8.5,0.1c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0C3.3,0.3,0.1,3.8,0.1,8c0,4.1,3.1,7.5,7.1,7.9h0c0.3,0,0.5,0,0.8,0 c0.3,0,0.6,0,0.8,0c4-0.4,7.1-3.8,7.1-7.9C15.9,3.8,12.7,0.3,8.5,0.1z M5.2,1.6C4.2,3,3.6,5,3.5,7.4H1.1C1.3,4.8,3,2.6,5.2,1.6z M1.1,8.6h2.4c0.1,2.3,0.7,4.4,1.7,5.7C2.9,13.3,1.3,11.2,1.1,8.6z M7.4,14.7c-1.5-0.5-2.6-3.1-2.7-6.1h2.7V14.7z M7.4,7.4H4.7 c0.1-3,1.3-5.5,2.7-6.1V7.4z M14.9,7.4h-2.4C12.4,5,11.8,3,10.8,1.6C13.1,2.6,14.7,4.8,14.9,7.4z M8.6,1.3c1.4,0.5,2.6,3.1,2.7,6.1 H8.6V1.3z M8.6,14.7V8.6h2.7C11.2,11.6,10.1,14.2,8.6,14.7z M10.8,14.3c1-1.4,1.6-3.4,1.7-5.7h2.4C14.7,11.1,13.1,13.3,10.8,14.3z" fill="currentColor"></path></svg></span>
     USA
      </a>
    </li>
  </ul>
</div>
</section> -->

<div data-search-container class="search__container--abs">
    <div class="search__overlay" onclick="BoosterTheme.ELEMENTS.closeSearch(this)"></div>
    <div class="search__container--wrapper">
        <h4 class="h-reset search__title">{{'general.search.heading' | t}} <span onclick="BoosterTheme.ELEMENTS.closeSearch(this)">{% render 'get-icon', icon: 'close' %}</span></h4>
        <form method="get" action="{{search_url}}">
            <button type="submit" class="search__icon--submit" aria-label="Search">{% render 'get-icon', icon: 'search' %}</button>
            <input autocomplete="off" placeholder="Themo knee sleeves…" name="q" onfocus="BoosterTheme.ELEMENTS.openSearch(this)" type="search" data-search>
        </form>
    </div>
    <div class="search__results search__results--abs" data-search-suggest>
    </div>
</div>

<header class="page__header page__header--desktop {% if template == "index" and section.settings.transparent %}page__header--transparent{% endif %}">
    <div class="page__header--width">
        <div class="header__logo header__element--width">
            {% render 'logo' with section as section %}
        </div>
        <nav class="main__navigation main__navigation--center main__navigation--{{section.settings.hoverStyle}} font__size--{{-section.settings.fontSize}}">
            {% for link in linklists[section.settings.menuLinks].links %}
                {% if link.links.size > 0 %}{% capture submenu %}{% render 'header--link-submenu' with link as link %}{% endcapture %}{% else %}{% assign submenu = '' %}{% endif %}
                <span class="nav__link__holder {% if link.active or link.child_active %}nav__link--active{% endif %} {% if submenu contains 'nav__submenu--regular' %}nav__link__holder--regular{% endif %}">
                    <a class="nav__link nav__link--{{section.settings.hoverStyle}}" href="{{link.url}}">{% render 'header--link-tag' with link.title as text %}</a>
                    {{submenu}}
                </span>
            {% endfor %}
        </nav>
        <div class="header__element--width header__utility">
            {% render 'header__general--utility', showCart: section.settings.desktopCart %}
        </div>
    </div>
</header>

<header class="page__header page__header--mobile hide-desktop {% if template == "index" and section.settings.transparent %}page__header--transparent{% endif %}">
    <div class="page__header--width">
        <label class="mobile-submenu-label" for="open-mobile-nav">
            <i class="uil uil-bars"></i>
        </label>
        <div class="header__logo header__element--width">
            {% render 'logo' with section as section %}
        </div>
        <input id="open-mobile-nav" type="checkbox" style="display: none">
        <label for="open-mobile-nav" class="overlay overlay--nav"></label>
        <nav class="mobile__navigation">
            {% for link in linklists[section.settings.menuLinks].links %}
                <span class="nav__link__holder">
                    <a class="nav__link {% if link.active or link.child_active %}nav__link--active{% endif %}" href="{{link.url}}">{% render 'header--link-tag' with link.title as text %}</a><!--
                    {% if link.links.size > 0 %}
                        --><input type="checkbox" style="display: none" id="mobile-submenu-{{forloop.index}}"><!--
                        --><label class="mobile__submenu__toggle" for="mobile-submenu-{{forloop.index}}"><i class="uil uil-plus"></i><i class="uil uil-minus"></i></label>
                        {% render 'header--link-submenu--mobile', link: link, ix: forloop.index %}
                    {% else %}
                    -->
                    {% endif %}
                </span>
            {% endfor %}
            <div class="mobile__navigation__footer">
                {% render 'header__mobile--footer' %}
            </div>
        </nav>
        <div class="header__utility">
        {% render 'header__general--utility', mobile: true, showCart: section.settings.mobileCart  %}
        </div>
    </div>
</header>
{% if template.name == 'index' %}
<section class="department-sub-nav__list-desktop">
  <div class="page__header--width">
      <ul class="department-sub-nav__list">
      	<li class="department-sub-nav_item "><a href="/all/womens?intcmp=subnav_cta1">FREE SHIPPING ON ORDERS $55+ </a></li>
      	<li class="department-sub-nav_item "><a href="/sale/women?intcmp=subnav_cta2">HASSLE-FREE 30 DAY RETURN POLICY</a></li>
      	<li class="department-sub-nav_item "><a href="/plp/womens/features/deals/the-score?intcmp=subnav_cta3">QUESTIONS? 855-6408844</a></li>
      	<li class="department-sub-nav_item no-divider"><a href="/s/credit-card?intcmp=subnav_cta5">9AM TO 6PM EST MONDAY TO FRIDAY</a></li>
        </ul>
       
  </div>
</section>
{% endif %}
<section class="department-sub-nav__list-mobile">
  <div class="">
  <div class="slider slide-show">       
          <div>FREE SHIPPING ON ORDERS $55+ </div>
          <div>HASSLE-FREE 30 DAY RETURN POLICY</div>
          <div>QUESTIONS? 855-6408844</div>
          <div>9AM TO 6PM EST MONDAY TO FRIDAY</div>
    </div>
  </div>
</section>
{% render 'header__common-js' with section as section %}
<script>
$('.slide-show').slick({
        dots: true,
        arrow: true,
        infinite: true,
        slidesToShow: 1,
        autoplay:false,
  prevArrow:"<button type='button' class='slick-prev pull-left'><img src='https://cdn.shopify.com/s/files/1/0829/1296/8986/files/angle-left.png?v=1697440057'></button>",
            nextArrow:"<button type='button' class='slick-next pull-right'><img src='https://cdn.shopify.com/s/files/1/0829/1296/8986/files/angle-right.png?v=1697440058'></button>"
        
});
    </script>

{% schema %}
{
  "name": {
    "en": "Header - Default"
  },
  "settings": [
    {
      "type": "header",
      "content": "Help"
    },
    {
      "type": "paragraph",
      "content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458159291)"
    },
    {
        "type": "header",
        "content": "Global header settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Section layout",
      "options": [
        {"value": "default", "label": "Global default"},
        {"value": "boxed", "label": "Boxed"},
        {"value": "stretchBg", "label": "Full width background"},
        {"value": "stretchContent", "label": "Full width"}
      ],
      "default": "default"
    },
    {
        "type": "range",
        "label": "Height",
        "id": "minHeight",
        "min": 75,
        "max": 150,
        "step": 5,
        "unit": "px",
        "default": 75
    },
    {
        "type": "range",
        "label": "Border radius",
        "id": "borderRadius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default": 0
    },
    {
        "type": "checkbox",
        "id": "shadow",
        "label": "Enable shadow",
        "default": false
    },
    {
        "type": "link_list",
        "id": "menuLinks",
        "label": "Menu links"
    },
    {
        "type": "checkbox",
        "id": "megamenu",
        "label": "Enable megamenu",
        "default": true
    },
    {
        "type": "range",
        "label": "Logo width",
        "id": "logoWidth",
        "min": 50,
        "max": 300,
        "step": 5,
        "unit": "px",
        "default": 240
    },
    {
        "type": "range",
        "label": "Logo height",
        "id": "logoHeight",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "default": 0,
        "info": "Maximum logo height. If set to 0 (zero) it will take up as much space as needed."
    },
    {
        "type": "checkbox",
        "id": "sticky",
        "label": "Make the header stick to top",
        "default": true
    },
    {
        "type": "range",
        "label": "Content margin",
        "id": "contentMargin",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 0
    },
    {
        "type": "header",
        "content": "Header buttons"
    },
    {
        "type": "checkbox",
        "id": "desktopCart",
        "label": "Show Cart (desktop)",
        "default": true
    },
    {
        "type": "color",
        "label": "Background color",
        "default": "rgba(0,0,0,0)",
        "id": "headerBg"
    },
    {
        "type": "header",
        "content": "Link style"
    },
    {
        "type": "color",
        "id": "linkColor",
        "label": "Text color",
        "default": "#727272"
    },
    {
        "type": "color",
        "id": "accentColor",
        "label": "Active accent color",
        "default": "#000000"
    },
    {
        "type": "select",
        "id": "hoverStyle",
        "label": "Hover style",
        "options": [
            {"value": "fill", "label": "Fill"},
            {"value": "underline", "label": "Underline"},
            {"value": "opacity", "label": "Opacity"},
            {"value": "strikethrough", "label": "Line through text"},
            {"value": "dotBelow", "label": "Dot below"},
            {"value": "dotAbove", "label": "Dot above"}
        ],
        "default": "underline"
    },
    {
        "type": "color",
        "id": "tagBgColor",
        "label": "Tag color",
        "default": "#000"
    },
    {
        "type": "color",
        "id": "tagTextColor",
        "label": "Tag text color",
        "default": "#FFF"
    },
    {
        "id": "transparent",
        "label": "Make the header transparent",
        "type": "checkbox",
        "default": false
    },
    {
        "type": "color",
        "id": "linkColorT",
        "label": "Text color (transparent)",
        "default": "#FFF"
    },
    {
        "type": "color",
        "id": "accentColorT",
        "label": "Active accent color (transparent)",
        "default": "#EFEFEF"
    },
    {
        "id": "fontSize",
        "type": "select",
        "label": "Font size",
        "options": [
            {"value": "small", "label": "Small"},
            {"value": "base", "label": "Base"},
            {"value": "medium", "label": "Medium"},
            {"value": "big", "label": "Big"}
        ],
        "default": "base"
    },
    {
        "type": "checkbox",
        "label": "Use a custom font family",
        "id": "customFont",
        "default": false
    },
    {
        "id": "fontFamily",
        "label": "Font Family",
        "type": "font_picker",
        "default": "work_sans_n6"
    },
    {
        "type": "header",
        "content": "Cart"
    },
    {
        "type": "select",
        "label": "Cart icon",
        "id": "cartIcon",
        "options": [
            {"value": "shopping-bag", "label": "Bag"},
            {"value": "shopping-cart", "label": "Cart"},
            {"value": "shopping-basket", "label": "Basket"}
        ],
        "default": "shopping-basket"
    },
    {
        "type": "header",
        "content": "Mobile menu"
    },
    {
        "type": "select",
        "label": "Logo position (mobile)",
        "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Center"},
            {"value": "right", "label": "Right"}
        ],
        "default": "center",
        "id": "mobileLogoPosition"
    },
    {
        "type": "checkbox",
        "label": "Show cart icon (mobile)",
        "id": "mobileCart",
        "default": true
    }
  ]
}
{% endschema %}